.park-page-container {
    min-height: 100vh;
    padding: 0 30px;
    background: $light-tan;
}

.park-container {
    display: flex;
}

.park-content-container,
.map-container {
    padding: 20px 10px;
    width: 45vw;
    & p {
        font-size: 18px;
    }
}

.park__section-title::after,
.alert__category::after {
    position: absolute;
    top: 2px;
    right: -25px;
    font-family: "icons";
    font-size: 18px;
}

.park__section-title::after {
    top: -4px;
    right: -45px;
    font-size: 32px;
}

.park {
    &__section-title {
        position: relative;
        display: inline-block;
        margin: 0;
    }
    &__section-title--alerts::after {
        content: "\ef1b";
    }
    &__section-title--weather::after {
        content: "\ee83";
    }
    &__section-txt {
        margin-top: 0;
    }
    &__name {
        display: block;
        text-decoration: underline;
        margin: 0;
    }
    &__dscrpt {
        margin-top: 0;
    }
}

.alerts-container,
.events-container,
.news-container {
    position: relative;
    min-height: 70px;
}

.alert {
    &__none {
        margin-top: 0;
        font-size: 18px;
    }
    &__content {
        margin: 10px 0;
        padding: 10px;
        background: white;
        border-radius: 5px;
    }
    &__title {
        margin: 0;
    }
    &__category {
        position: relative;
    }
    &__category--Information::after {
        content: "\ef4f";
    }
    &__category--Caution::after {
        content: "\ef1b";
        color: rgb(197, 197, 63);
    }
    &__category--Park_Closure::after {
        content: "\ec4f";
        color: rgb(172, 41, 41);
    }
}



.events-title-container {
    display: inline-block;
    padding-right: 50px;
    position: relative;
}

.event {
    &__content {
        display: none;
        font-size: 18px;
        & p {
            margin-top: 0;
        }
    }
    &__title {
        font-size: 20px;
    }
    &__category {
        position: relative;
        top: -5px;
        font-size: 14px;
    }
    &__contact-title {
        font-size: 18px;
        text-decoration: underline;
    }
    &__contact-center {
        margin-top: 0;
    }
}

.news {
    &__content {
        display: none;
    }
    &__none {
        margin: 0;
    }
}

.btn-expand-label--events::after,
.btn-expand-label--news::after {
    cursor: pointer;
    position: relative;
    top: -1px;
    right: 0;
}

.btn-expand--events:checked ~ .event__content,
.btn-expand--events:checked ~ .loader--expand,
.btn-expand--news:checked ~ .news__content,
.btn-expand--news:checked ~ .loader--expand {
    display: block;
}


.map-container {
    width: 45vw;
}