.search-results-container {
    background: $light-tan;
    padding: 20px 10px;
    min-height: 100vh;
}

.state-title {
    text-decoration: underline;
}

.park-section-container {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px;
    background: white;
    width: 650px;
}

.park-title-container {
    display: flex;
}

.park-title {
    &__num {
        display: inline-block;
    }
    &__name {
        display: inline-block;
        font-size: 18px;
        margin: 4px 20px 4px 10px;
    }
}

.park-summary-container {
    display: none;
}

.btn-expand:checked ~ .park-summary-container {
    display: block;
}

.park-description {
    width: 100%;
    margin: 0;
}

.park-lnk {
    float: right;
}




