.search-results-container {
    background: $light-tan;
    padding: 20px 10px;
    min-height: 100vh;
}

.state-title {
    text-decoration: underline;
}

.expanding-div {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px;
    background: white;
    width: 650px;
}

.park-title-container {
    display: flex;
}

.park-title {
    &__num {
        display: inline-block;
    }
    &__name {
        display: inline-block;
        font-size: 18px;
        margin: 4px 20px 4px 10px;
    }
}

.btn-expand-label::after {
    position: absolute;
    top: 0px;
    right: 5px;
    font-family: "icons";
    content: "\efc2";
    font-size: 24px;
    font-weight: 700;
    padding: 5px 10px;
}

.btn-expand {
    &:checked ~ .btn-expand-label::after {
        content: "\ef9a";
    }
    &:checked ~ .expand-content {
        display: block;
    }
}

.expand-content {
    display: none;
}

.park-description {
    width: 100%;
    margin: 0;
}

.park-lnk {
    float: right;
}




