.parks-summary {
    &-container {
        padding: 10px;
    }
    &__state-divider {
        margin: 5px 0;
    }
    &__name {
        text-decoration: underline;
    }
    &__lnk {
        display: block;
        margin: 5px 0;
    }

}