/**
 * Basic typography style for copy text
 */

@font-face {
  font-family: "icons";
  src: url("../assets/fonts/icofont.ttf");
}


body {
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  font: normal 125% / 1.4 $text-font-stack;
}

h1, h2, h3, h4, h5 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
}